html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#carouselExampleControls {
    width: 70%;
}

.deneme {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deneme2 {
    width: 800px;
}